@import 'normalize'
*
  -webkit-font-smoothing: antialiased
  -moz-mac-osx-font-smoothing: greyscale
  box-sizing: border-box

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700")
@import url("https://fonts.googleapis.com/css?family=Slabo+27px")

html
  font-family: 'Roboto Condensed', sans-serif
  height: 100%
  background-color: #00838F
body
  width: 1200px
  margin: auto
  background-color: white
  background-image: image-url('urf-bg.png')
  background-size: auto 100%
  background-position: center center
.container
  padding: 15px
  background-color: rgba(255, 255, 255, 0.5)
.header
  position: relative
.main-title
  text-align: center
  background-color: #80DEEA
  padding-top: 5px
  .the
    position: absolute
    display: block
    top: 25px
    left: 370px
  h1
    font-family: 'Slabo 27px', serif
    font-size: 72px
    line-height: 1em
    letter-spacing: 8px
    font-weight: 400
    margin: 0
  p
    margin: 0
    line-height: 3em
    text-transform: uppercase
.footer
  text-align: center
  padding: 20px 0 20px 0
  background-color: #B2EBF2


