<h2>The Most Damage Dealt To Champions in URF</h2>
<div class="top-ten">
  <div ng-repeat="participant in top_ten.participants" class="place-{{$index}}">
    
    <div class="rank-image"></div>
    <div class="damage-delt"></div>
  </div>

  <div class="table">
    <div class="table--row" ng-repeat="participant in top_ten.participants" class="place-{{$index + 1}}">
      <div class="table-cell place">
        {{$index + 1}}
      </div>
      <div class="table-cell champ-image">
        <champ-img champ="participant.championId"></champ-img>
      </div>
      <div class="table-cell rank-image">
        rank img
      </div>
      <div class="table-cell damage">
        {{participant.stats.totalDamageDealtToChampions}}
      </div>
    </div>
  </div>

</div>
<h2>Recent Matches of URF. Possible Contenders?</h2>
<div class="table">
  <div class="table--headers">
    <div class="table--header">
      Champ
    </div>
    <div class="table--header">
      W/L
    </div>
    <div class="table--header">
      Damage
    </div>
    <div class="table--header">
      Rating
    </div>
    <div class="table--header">
      Accolades
    </div>
  </div>
  <div ng-repeat="participant in participants | orderBy:'-stats.totalDamageDealtToChampions'" class="table--row">
    <div class="table-cell">
      <champ-img champ="participant.championId"></champ-img>
    </div>
    <div class="table-cell">
      <div class="win-loss-circle" ng-class="{'winner': participant.stats.winner, 'loser': !participant.stats.winner}"></div>
    </div>
    <div class="table-cell">
      {{participant.stats.totalDamageDealtToChampions}}
    </div>
    <div class="table-cell">
      WEENIE
    </div>
    <div class="table-cell">
      icon
    </div>
  </div>
</div>
